@page
@using Query.Wrapping
@{
    ViewBag.Title = "[home]";
}

<ul>
    <li>
        <a href="swagger">API playground</a>
    </li>
    <li>
        <a href="sparql">SPARQL playground</a>
    </li>
    <li>
        <a href="context/v1">JSON-LD context document</a>
    </li>
    <li>
        <a href="openapi.json">OpenAPI definition</a>
    </li>
    @foreach (var endpoint in EndpointGraph.Instance.Endpoints)
    {
        <li>
            <a href="/@endpoint.Link">@endpoint.Name (@endpoint.Description)</a>
        </li>
    }
</ul>
