@page
@{
    ViewBag.Title = "[home]";
}

<ul>
    <li>
        <a href="swagger">API playground</a>
    </li>
    <li>
        <a href="sparql">SPARQL playground</a>
    </li>
    @foreach (var endpointName in Endpoints.Names)
    {
        var parameters = Endpoints.ParameterMapping.TryGetValue(endpointName, out var endpoint) ? endpoint.Parameters : [];
        var endpointLink = QueryHelpers.AddQueryString($"{endpointName}.html", parameters.ToDictionary(parameter => parameter.Name!, parameter => parameter.Example));

        <li>
            <a href="/@endpointLink">@endpointName</a>
        </li>
    }
</ul>
