@page
@inject IOptions<QueryServiceOptions> options
@{
    ViewBag.Title = "[sparql ui]";
}
@section Scripts {
    <link href="https://unpkg.com/@@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@@triply/yasgui/build/yasgui.min.js"></script>
    <style>
        .yasgui .autocompleteWrapper {
            display: none !important;
        }
    </style>

}
<div id="yasgui"></div>
<script>
    const prefixes = {
        "": "https://id.example.org/schema/", // TODO: Config
        "id": "https://id.example.org/", // TODO: Config
    }
    const config = {
        requestConfig: {
            endpoint: "@options.Value.SparqlEndpointUri",
        },
        yasqe: {
            value: `${Object.entries(prefixes).map(entry => `PREFIX ${entry[0]}: <${entry[1]}>`).join("\n") }

SELECT *
WHERE {
    ?s ?p ?o .
}
LIMIT 10`
        },
        yasr: {
            prefixes
        }
    }

    Yasgui.Yasqe.Autocompleters.prefixes.get = e => Object.entries(prefixes).map(entry => `${entry[0]}: <${entry[1]}>`)

    const yasgui = new Yasgui(document.getElementById("yasgui"), config)
</script>
