name: Build and deploy Dereference service to Azure Web App

env:
  AZURE_WEBAPP_NAME: 'id'
  AZURE_WEBAPP_PACKAGE_PATH: 'Dereference/published'
  DOTNET_VERSION: '10.x'

on:
  push:
    branches:
      - main
    paths:
      - Dereference/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout

    steps:
      - uses: actions/checkout@v5

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build with dotnet
        run: dotnet build Dereference --configuration Release

      - name: dotnet publish
        run: dotnet publish Dereference --configuration Release --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8110EC373C354A0D828A40C126CC86A2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DA3E44DFFE58425A82ACE299E4D150B4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_23FAA721E0AF4807B8198964A446368C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
